<section id="contacto" class="bg-base-200 mb-10">
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="flex justify-center items-center col-span-2 p-4">
      <form
        action=""
        method="post"
        class="w-[90%] md:w-[75%] lg:w-[65%] p-4 bg-base-300 shadow-xl rounded-lg"
      >
        <h3 class="text-2xl font-bold mb-4">Contáctanos</h3>
        <!-- Nombre -->
        <label class="input input-bordered flex items-center gap-2 mb-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
            ></path>
          </svg>
          <input type="text" class="grow" placeholder="Nombre" />
        </label>
        <!-- Correo -->
        <label class="input input-bordered flex items-center gap-2 mb-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
            ></path>
            <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
            ></path>
          </svg>
          <input type="text" class="grow" placeholder="Correo" />
        </label>
        <!-- Teléfono -->

        <label class="input input-bordered flex items-center gap-2 mb-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
            ><path
              d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"
            ></path></svg
          >
          <input type="text" class="grow" placeholder="Teléfono" />
        </label>

        <!-- Mensaje -->
        <textarea
          placeholder="Escribenos un mensaje"
          class="textarea textarea-bordered textarea-md w-full h-56 mb-2"
        ></textarea>
        <!-- Botón de enviar -->
        <button type="submit" class="btn btn-primary w-full">Enviar</button>
      </form>
    </div>
    <div class="h-full flex flex-wrap p-4">
      <!-- Mapa integrado -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.073013073073!2d-99.1330736850919!3d19.43260778689268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f9e7f3e3e3e1%3A0x9e7b2f4b2b4b7b7b!2sPalacio%20de%20Bellas%20Artes!5e0!3m2!1ses-419!2smx!4v1631083660006!5m2!1ses-419!2smx"
        allowfullscreen=""
        loading="lazy"
        aria-hidden="true"
        class="w-full h-[60%]"></iframe>

      <!-- Información de contacto -->
      <div class="p-4 flex flex-wrap items-center justify-center h-[40%]">
        <h3 class="text-2xl text-center font-bold mb-4">
          Información de contacto
        </h3>
        <div>
          <p class="mb-2 text-center text-balance">
            <strong>Dirección:</strong> Av. Juárez 1, Centro Histórico, Cuauhtémoc,
            06050 Ciudad de México, CDMX
          </p>
        </div>
        <div>
          <p class="mb-2 text-center">
            <strong>Teléfono:</strong> 55 1234 5678
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
