<section id="inicio">
  <div
    class="hero min-h-[calc(100vh-14rem)]"
    style="background-image: url(/hero-image.webp);"
  >
    <div class="hero-overlay bg-opacity-40"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="">
        <h1 class="mb-5 text-7xl text-primary font-bold">
          Excelencia en Techado
        </h1>
        <p class="mb-5 text-2xl">Transformamos hogares con techos de lujo</p>
        <a href="#contacto" class="btn btn-primary">Agenda una consulta</a>
      </div>
    </div>
  </div>
</section>
