<section id="proyectos" class="pt-20">
  <h2 class="text-4xl text-center font-bold mb-10">Proyectos Recientes</h2>
  <!--Proyecto 1 -->
  <div class="card lg:card-side bg-base-200 rounded-none max-lg:mb-6 h-[48rem] sm:h-[40rem] md:h-[40rem] lg:h-[24rem]">
    <div class="w-full lg:w-[55%] relative overflow-hidden h-full">
      <div
        class="carousel-item-custom absolute inset-0 opacity-100 transition-opacity duration-1000 h-full"
      >
        <img
          src="/proyecto_1/imagen-1_proyecto-1.jpg"
          class="w-full h-full object-cover"
          alt="Imagen 1 - Proyecto 1"
        />
      </div>
      <div
        class="carousel-item-custom absolute inset-0 opacity-0 transition-opacity duration-1000 h-full"
      >
        <img
          src="/proyecto_1/imagen-2_proyecto-1.jpg"
          class="w-full h-full object-cover"
          alt="Imagen 2 - Proyecto 1"
        />
      </div>
    </div>
    <div class="card-body lg:w-[45%]">
      <h2 class="card-title text-3xl text-pretty">Construcción de techo de metal</h2>
      <p class="text-pretty text-lg">La construcción de este techo de metal fue un proyecto que destacó por su enfoque en la resistencia y modernidad. Ubicado en una zona de alta exposición a los elementos, el techo fue diseñado con materiales de alta calidad y acabados modernos para garantizar una durabilidad excepcional y un estilo contemporáneo. Ideal para quienes buscan un techo que combine funcionalidad y estética.</p>
    </div>
  </div>
  <!--Proyecto 2 -->
  <div
    class="card flex-col-reverse lg:card-side bg-base-200 rounded-none max-lg:mb-6 h-[36rem] sm:h-[38rem] md:h-[32rem] lg:h-[24rem]"
  >
    <div class="card-body lg:w-[45%]">
      <h2 class="card-title text-3xl text-pretty">Remodelación de techo de tejas en residencial privado</h2>
      <p class="text-pretty text-lg">
        Este proyecto consistió en la remodelación de un techo de tejas en una
        residencia privada. Hecho con materiales de alta
        calidad para garantizar la durabilidad y estética del techo. El resultado
        fue un techo elegante y funcional que resalta la belleza de la propiedad.
      </p>
    </div>
    <figure class="w-full lg:w-[55%]">
      <img
        src="/proyecto_2/imagen-1_proyecto-2.avif"
        alt="Imagen 1 - Proyecto 2"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>

  <!--Proyecto 3 -->
  <div class="card lg:card-side bg-base-200 rounded-none max-lg:mb-6 h-[48rem] sm:h-[40rem] md:h-[32rem] lg:h-[24rem]">
    <div class="w-full lg:w-[55%] relative overflow-hidden h-full">
      <div
        class="carousel-item-custom-2 absolute inset-0 opacity-100 transition-opacity duration-1000 h-full"
      >
        <img
          src="/proyecto_3/imagen-1_proyecto-3.jpg"
          class="w-full h-full object-cover"
          alt="Imagen 1 - Proyecto 3"
        />
      </div>
      <div
        class="carousel-item-custom-2 absolute inset-0 opacity-0 transition-opacity duration-1000 h-full"
      >
        <img
          src="/proyecto_3/imagen-2_proyecto-3.jpg"
          class="w-full h-full object-cover"
          alt="Imagen 2 - Proyecto 3"
        />
      </div>
    </div>
    <div class="card-body lg:w-[45%]">
      <h2 class="card-title text-3xl text-pretty">Proyecto de lujo en Colonia Escalon - San Salvador</h2>
      <p class="text-pretty text-lg">Este proyecto destaca por su enfoque en elegancia y durabilidad. Ubicado en una de las zonas más exclusivas de San Salvador, el diseño del techo combina materiales de alta calidad con acabados modernos, garantizando una estética sofisticada y una funcionalidad excepcional. Ideal para quienes buscan elevar el estilo y valor de su propiedad.</p>
    </div>
  </div>
  
  <div class="flex justify-center mt-10">
    <a href="#proyectos" class="btn btn-secondary btn-outline">Ver más proyectos</a>
  </div>
</section>

<script is:inline>
document.addEventListener("DOMContentLoaded", () => {
  const items = document.querySelectorAll(".carousel-item-custom");
  const items2 = document.querySelectorAll(".carousel-item-custom-2");
  let currentIndex = 0;

  const updateVisibility = (elements, indexToShow) => {
    elements.forEach((el, index) => {
      if (index === indexToShow) {
        el.classList.remove("opacity-0");
        el.classList.add("opacity-100");
      } else {
        el.classList.remove("opacity-100");
        el.classList.add("opacity-0");
      }
    });
  };

  const showNextImage = () => {
    currentIndex = (currentIndex + 1) % items.length;
    updateVisibility(items, currentIndex);
    updateVisibility(items2, currentIndex);
  };

  updateVisibility(items, currentIndex);
  updateVisibility(items2, currentIndex);

  setInterval(showNextImage, 3000);
});

</script>
