<section id="servicios" class="max-w-[1280px] mx-auto pt-20 px-5">
  <h2 class="text-4xl text-center font-bold mb-10">Nuestros Servicios</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="card bg-base-100 shadow-xl rounded-none">
      <figure>
        <img
          src="/techo-tejas.webp"
          alt="Techo de tejas"
          class="w-full h-56 object-cover"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title text-2xl">Techado de Tejas</h2>
        <p class="text-lg">Elegancia y durabilidad para tu hogar</p>
      </div>
    </div>
    <div
      class="card bg-base-100 shadow-xl rounded-none"
    >
      <figure>
        <img
          src="/techo-metal.webp"
          alt="Techo de metal"
          class="w-full h-56 object-cover"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title text-2xl">Techado de Metal</h2>
        <p class="text-lg">Resistencia y modernidad.</p>
      </div>
    </div>
    <div class="card bg-base-100 shadow-xl rounded-none md:col-span-2 lg:col-span-1">
      <figure>
        <img
          src="/techo-ecologico.webp"
          alt="Techo ecológico"
          class="w-full h-56 md:h-72 lg:h-56 object-cover"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title text-2xl">Techado Ecológico</h2>
        <p class="text-lg">Sostenibilidad con estilo.</p>
      </div>
    </div>
  </div>
</section>
