/* Tema claro (por defecto) */
:root {
    --bg-color: #F5F5F5;
    --text-color: #1A1A1A;
    --accent-color: #D4AF37;
  }
  
  /* Tema oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #1A1A1A;
      --text-color: #F5F5F5;
      --accent-color: #D4AF37;
    }
  }
  
  /* Clase forzada para el tema oscuro */
  .dark-theme {
    --bg-color: #1A1A1A;
    --text-color: #F5F5F5;
    --accent-color: #D4AF37;
  }
  
  /* Clase forzada para el tema claro */
  .light-theme {
    --bg-color: #F5F5F5;
    --text-color: #1A1A1A;
    --accent-color: #D4AF37;
  } 

html {
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    flex: 1;
}